*.csv
*.json

restos-around
notebooks/.ipynb_checkpoints/
scraper/.ipynb_checkpoints/
scraper/__pycache__/
scraper/parser/__pycache__/
scraper-venv/

.vscode/settings.json
.vscode/

main/__pycache__/

main/.ipynb_checkpoints/

main/input/702825292812_s/

main/input/ageb_urbana_09_cpv2010/
